@charset "ISO-8859-1";


*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(/images/regFailed.jpg);
     height:100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

.container{
    position:relative;
    top:-200px;  
}

h1{
    font-size: 60px;
}

p{
    text-align: center;
    font-size: 40px;
    position:relative;
    left:-40px;
}

p a{
    text-decoration: none;
    color: red;
}