@charset "ISO-8859-1";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;

}

nav{
    background-color: #fff;
    /* display: inline-flex; */
    position:absolute;
    width: 90%;
    height:40px;
    display:flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: black;
}

.logo{
    margin:5px 0 0 20px;
    font-size: 30px;
    font-weight: 700px;
    color: blue;
}

li{
    display: inline;
    line-height: 40px;
    margin:0 10px;
    font-size: 25px;
    
}

li a{
    color: white;
}

body{
    background-color: rgb(103,165,251);
    display:flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color:#37B7C3; */
    background-image: url(@{images/bg7.jpg});
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin-top: 300px;
    color: white;
    background-color: black;
}

