@charset "ISO-8859-1";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;

}
body{
    background-image: url(@{images/bg7.jpg});
}
nav{
    background-color: #fff;
    /* display: inline-flex; */
    position:absolute;
    width: 90%;
    height:40px;
    display:flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: black;
    margin-left: 80px;
}

.logo{
    margin:5px 0 0 20px;
    font-size: 30px;
    font-weight: 700px;
    color: blue;
}

li{
    display: inline;
    line-height: 40px;
    margin:0 10px;
    font-size: 25px;
    
}

li a{
    color: white;
}

h1{
    position:relative;
    top: 200px;
    left: 400px;
    font-size: 60px;
}


.links{
    position:relative;
    top:300px;
    display: flex;
    justify-content: space-evenly;
}

.links a{
    border: 3px solid black;
    border-radius: 15px;
    width: 400px;
    line-height: 90px;
    text-align: center;
    font-size: 20px;
    background-color: lightblue;
}

