<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/adminHome.css}">
</head>
<body>
	<nav>
        
        <label class="logo">MovieFlix</label>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    
    </nav>
    <div class="container">
    <h1>Welcome To the MovieFlix Admin</h1>
      <div class="links">
		<a href="map_viewallusers">Click here to View all The User details</a><br><br>
		<a href="map_addmovie">Click here to add Movie</a><br><br>
		<a href="map_viewallmovies">Click Here to View All Movies</a><br><br>
      </div>
    </div>
		
		
		
		<!-- 
			<label>Enter the Email-ID of user to delete</label>
		 <a href="map_deleteuser">
				
				<label>Click here to delete a User</label>
				<input type="text" name="emailId">
		 </a>
		 	<a href="map_updateuser">
				Click here to update a User
		 </a>
		 -->
</body>
</html>