<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>	
		
	<h1>Welcome to MovieFlix</h1><br><br>
    <p>This Website consists of Movies from Tollywood to Hollywood in different genre like action,romance and thriller whatever you want.
       And the subcription is as low as 100 rupees per month, a bag of peanuts right? so why do you want to wait, dive right in and register
       and watch movies seamlessly. &hearts;&hearts;&hearts;
    </p>
    <div class="tags">
	<a href="map_signup">SignUp</a><br><br>
	<a href="map_login">Login</a><br><br>
    </div>
    
	<!--  <h1>Welcome to MovieFlix</h1><br><br>
	<a href="map_signup">SignUp</a><br><br>
	<a href="map_login">Login</a><br><br>
	-->
</body>
</html>