<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/regSuccess.css}">
</head>
<body>


	<div class="container">
        <h1>Registration Successful!!!!!!</h1>
            <!-- <h2>Hooray</h2> -->
        <p>Do you want to Login?<a href="map_login">&nbsp; &nbsp;Login</a></p>
    </div>
    
	<!--  <h1>Registration successful  User Added To the Database</h1>
	<a href="map_login"> 
		Login
	</a>
	-->
</body>
</html>