<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/userUpdatedSuccess.css}">
</head>
<body>
	 <nav>
        
        <label class="logo">MovieFlix</label>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    
    </nav>
    <div class="container">
    <h1>User Updated Successfully</h1>
    <p>Want to go Home?<a href="home">Home</a></p>
    </div>	
</body>
</html>